<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid90" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="monoandroid90" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid90" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.2.0" targetFramework="monoandroid90" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="monoandroid90" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="monoandroid90" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="monoandroid90" />
  <package id="System.Buffers" version="4.4.0" targetFramework="monoandroid90" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="monoandroid90" />
  <package id="System.Memory" version="4.5.1" targetFramework="monoandroid90" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="monoandroid90" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="monoandroid90" />
</packages>